.root {
    
    li {
        display: inline-flex;
    }

    a {
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 45px;
        border: 1px solid rgb(255, 176, 86);
        border-radius: 30px;
        line-height: 42px;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
            border: none;
            background: rgb(255, 176, 86);
        }
    }
}