.root {
    position: relative;
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
}

.delete {
    width: 24px;
    position: absolute;
    opacity: 0.3;
    right: 15px;
    top: 50%; 
    transform: translate(0, -50%);
    cursor: pointer;   
    
    &:hover {
        opacity: 0.5;
    }
}